{% extends "posts/base.html" %}
{% load widget_tweaks %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="ui violet segment">

    <h2 class="ui dividing header">Sign In</h2>

    <form method="post" class="ui form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="fluid ui red submit button">Login</button>
    </form>

</div> <!-- ui red attached segment -->

{% endblock %}