{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}Changelog{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'posts/semantic.css' %}">
  <script src="{% static 'posts/jquery-3.1.1.js' %}"></script>
  <script src="{% static 'posts/semantic.js' %}"></script>
  <style>
    a {
      color: #000000;
    }
  </style>
</head>

<body>


  <div class="ui main text container">
    <div class="ui pointing menu">
      <a class="item {% block nav_item_index  %}{% endblock nav_item_index %}" href="{% url 'index' %}">Changelog</a>
      <a class="item {% block nav_item_submit %}{% endblock nav_item_submit %}" href="{% url 'submit' %}">Submit</a>

      <div class="right menu">
        {% if user.is_authenticated %}
        <div class="ui dropdown item">
          {{ user.username }}
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="{% url 'unpublished' %}">Publish Queue</a>
            <a class="item" href="{% url 'logout' %}">Logout</a>
          </div> <!-- menu -->
        </div><!-- ui dropdown item -->
        {% else %}
        <a class="item {% block nav_item_login %}{% endblock nav_item_login %}" href="{% url 'login' %}">Login</a>
        {% endif %}

        <div class="item">
          <div class="ui transparent icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div><!-- item -->
      </div><!-- right menu -->

    </div><!-- ui pointing menu -->

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
  </div> <!-- main text container -->

  <!-- Initialize Semantic UI dropdown in page -->
  <script>
    $('.ui.dropdown')
      .dropdown();
  </script>

</body>

</html>