{% extends "posts/base.html" %}

{% block content %}
<div class="ui grey attached segment">

  <h2 class="ui huge dividing header">
    <i class="settings icon"></i>
    <div class="content">
      <a href="{{post.url}}">{{post.title}} 🔗</a>
      <div class="sub header">
        logged by {{post.author}} • 

        {% if post.published_date %}
        published on {{post.published_date}}
        {% else %}
        submitted on {{post.created_date}}
        {% endif %}
      </div>
    </div>
  </h2>

<p> {{post.text}} </p>

</div> <!-- segment -->


{% if post.published_date == None %}
<div class="ui bottom attached warning message">
  <i class="warning icon"></i>
  This post is not published!
</div>
{% endif %}

{% endblock %}