{% extends "posts/base.html" %}
{% block nav_item_index %}active{% endblock nav_item_index %}

{% block content %}

<div class="ui teal segment">

  {% if post_list %}

  <h2 class="ui dividing header">Links</h2>

  <div class="ui relaxed divided list">
    {% for post in post_list %}
    <div class="item">

      <i class="large linkify middle aligned icon"></i>
      <div class="content">
        <a class="header" href="{% url 'detail' post.id %}">{{ post.title }}</a>
        <a href="{{post.url}}">{{post.url}}</a>
        <div class="description">{{post.text}}</div>
      </div><!-- content -->

    </div> <!-- item -->
    {% endfor %}
  </div> <!-- ui relaxed divided list-->

  {% else %}
  <div class="ui placeholder segment">
    <div class="ui icon header">
      <i class="dont icon"></i>
      No posts have been published yet!
    </div>
  </div>

  {% endif %}
</div>


{% endblock %}