{% extends "posts/base.html" %}
{% load widget_tweaks %}
{% block nav_item_submit %}active{% endblock nav_item_submit %}

{% block content %}
<div class="ui blue segment">

  <h2 class="ui dividing header">Submit a Link</h2>

  <form method="POST" class="ui form">
    {% csrf_token %}
    <div class="ui form">
      <div class="field">
        <label>URL:</label>
        {{ form.url | append_attr:"placeholder:Enter a link." }}
      </div> <!-- field -->
      <div class="field">
        <label>Title:</label>
        {{ form.title | append_attr:"placeholder:Set the title of the link." }}
      </div> <!-- field -->
      <div class="field">
        <label>Describe the contents of the link:</label>
        {{ form.text }}
      </div> <!-- field -->
      <div class="field">
        <button type="submit" class="fluid ui primary button">Submit</div>
    </div> <!-- field -->

</div> <!-- ui form -->


</form>

</div> <!-- ui segment-->

{% endblock %}