{% extends "posts/base.html" %}

{% block content %}

<div class="ui segment">

  {% if unpublished_post_list %}

  <h2 class="ui dividing header">Unpublished Links</h2>

  <table class="ui padded table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>User</th>
        <th>Submitted</th>
      </tr>
    </thead>
    <tbody>
      {% for post in unpublished_post_list %}
      <tr>
        <td>
          <div class="ui fitted slider checkbox">
          <input type="checkbox"> <label></label>
          </div>
          </td>
        <td data-label="Title"><a href="{% url 'detail' post.id %}">{{post.title}}</a></td>
        <td data-label="User">{{post.author}}</td>
        <td data-label="SubmittedDate">{{post.created_date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
  <div class="ui placeholder segment">
    <div class="ui icon header">
      <i class="dont icon"></i>
      No posts pending approval!
    </div>
  </div>

  {% endif %}
</div>


{% endblock %}