{% extends "posts/base.html" %}
{% load widget_tweaks %}
{% block nav_item_login %}active{% endblock nav_item_login %} 

{% block content %}
<div class="ui red segment">

    <h2 class="ui dividing header">Sign In</h2>

    <form method="post" class="ui form">
        {% csrf_token %}
        <div class="ui form">
          <div class="field">
            <label>Username:</label>
            {{ form.username | append_attr:"placeholder:Enter your email." }}
          </div> <!-- field -->
          <div class="field">
            <label>Password:</label>
            {{ form.password | append_attr:"placeholder:Enter your password." }}
          </div> <!-- field -->
        <button type="submit" class="fluid ui red submit button">Login</button>
    </form>

    </div> <!-- ui red attached segment -->

{% endblock %}
